@import url('https://fonts.googleapis.com/css?family=Orbitron');

div {
  width: 500px;
  padding: 10px 25px;
  margin: 20px auto;
  border-radius: 7px;
  color: #1f1f1f;
}

.day {
  background-color: green
}

.morning {
  background-color: yellow
}

.night {
  background-color: red
}

.clock {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #000000;
  text-align: center;
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 7px;
}

.weekday {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 7px;
}

.date {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 7px;
}
